<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Name: <%= name %></h1>
			<h2>Height: <%= height %> </h2>
			<h2>Mass: <%= mass %> </h2>
			<h2>Hair Color: <%= hair_color %> </h2>
			<h2>Skin Color: <%= skin_color %> </h2>
			<h2>Birth Year: <%= birth_year %> </h2>
			<h2>Gender: <%= gender %> </h2>
			<h2>HomeWorld: <%= homeworld %> </h2>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>